<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>
    <title>{{site.title}}</title>
    <meta name="title" content="{{page.title}}" />
    <meta name="author" content="{{site.author}}"/>
    <meta name="description" content="{{page.ecerpt | strip_html | truncatewords: 80}}"/>
    <meta property="og:site_name" content="{{site.title}}"/>
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{{page.ecerpt | strip_html | truncatewords: 80}}"/>
    <meta property="og:url" content="{{site.url}}"/>
    <meta property="og:image" content="{{site.image}}"/>
    {% if page.tags %}
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{tag}}"/>
    {% endfor %}
    {% endif %}
    {% if page.date %}
    <meta property="article:published_time" content="{{page.date | date_to_xmlschema}}"/>
    {% endif %}
    <meta property="fb:app_id" content="2387944488116810" />
    <link href="{{site.url}}/rss/" rel="alternate" type="application/rss+xml" title="RSS"/>
    <link href="{{site.asset_url}}/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link href="{{site.asset_url}}/apple-touch-icon.png" rel="apple-touch-icon" type="image/png"/>
    <link href="{{site.asset_url}}/apple-touch-icon.png" rel="apple-touch-icon-precomposed" type="image/png"/>
    <link href="{{site.asset_url}}/css/default.css" rel="stylesheet" type="text/css"/>
    <link href="{{site.asset_url}}/css/default-min720px.css" media="(min-width: 720px)" rel="stylesheet" type="text/css"/>
    <link href="{{site.asset_url}}/css/default-min960px.css" media="(min-width: 960px)" rel="stylesheet" type="text/css"/>
</head>
<body>
{{content}}
</body>
</html>
