---
layout: default
---
<div class="container-cover" style="background-image:url({{site.image}});background-size:100% 100%">
    <div class="container">
        <div class="cover__home">
            <h1>{{site.title}}</h1>
            <p>{{site.description}}</p>
        </div>
    
        <div class="search">
            <input type="search">
        </div>    
    </div>
</div>

<div class="container">
    <h5>Featured Posts</h5>
</div>

<div class="container">
    <div role="main">
        {{content}}
    </div>
</div>
