---
layout: default
---
<div class="container cover">
    <h1>{{ page.title }}</h1>
    <div class="tags">
            {% if page.tags.size > 0 %}
            {% for tag in page.tags %}
            <a href="{{site.base_url}}/tags/{{tag}}/" class="tag">{{tag}}</a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="search">
        <input type="search">
        <ul class="search-results"></ul>    
    </div>
</div>

<div class="container post" role="main">
    <div class="post-content">{{ content }}</div>
    <div class="post-info">{{ page.date | date: '%Y년 %m월 %d일 %H시%M분 즈음' }}
        {% if page.tags.size > 0 %}
            {% for tag in page.tags %}
            <a href="{{site.base_url}}/tags/{{tag}}/" class="tag">{{tag}}</a>
            {% endfor %}
            에 대해
        {% endif %}
        썼어요.
    </div>

    <div class="post-links">
        {% if page.previous %}
        <a class="links links__prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
        {% endif %}
        {% if page.next %}
        <a class="links links__next" href="{{page.next.url}}">{{ page.next.title }}</a>
        {% endif %}
    </div>   
</div>

<div class="container comments">
    <!-- <div
        class="fb-comments" 
        data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
        data-width="100%"
        data-numposts="5">
    </div> -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.3&appId=2387944488116810&autoLogAppEvents=1"></script>
    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#green:{{page.url}}:comments" data-width="100%" data-order_by="reverse_time"></div>
</div>    
