---
layout: default
---
<style>
    #cover {
        height: 150px;
    }
    #cover > div {
        text-align: left;
        padding-left: 4rem;
    }
    #cover .upper {
        font-weight: 300;
        padding-right: 1rem;
        text-transform: uppercase;
    }
    #cover .upper::after {
        content: '/';
    }
    #cover h1 {
        background-color: rgba(0, 0, 0, 0.3);
        display: inline;
        padding: 0.2rem;
        text-align: left;
        white-space: normal;
    }
</style>
<div id="cover" class="container" style="background-image: url({{ site.asset_url }}/images/snippet_cover.jpg);">
    <div>
        <h1>
            <span class="upper">{{page.tags}}</span> 
            {{ page.title }}
        </h1>
    </div>
</div>

<div id="content" class="container post" role="main">
    <div id="post-content">{{ content }}</div>
    <div id="post-footer">
        <div class="clearfix"></div>

        <a id="post-author" href="">
            <div id="author-image"> <!-- style="background-image:url(/assets/images/profile.png)"> -->
                <span class="sr-only">profile image</span>
            </div>
            <p id="author-name">greenb</p>
        </a>
        <p id="post-date">{{ page.date | date: '%Y-%m-%d %H:%M' }}</p>
    </div>
    <div class="post-comments" style="margin:0 80px">
        <div
            class="fb-comments" 
            data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
            data-width="100%"
            data-numposts="5">
        </div>
    </div>
</div>

<div id="lightbox">
    <div id="lightbox-image"></div>
</div>
